.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    flex: 1;
}

.color-table div {
    float: left;
    width: 8px;
    height: 8px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.color-table {
    display: inline-block;
    max-width: 129px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.dropdown-options {
    width: 14em;
}

.comment-box {
    max-height: 20em;
    text-shadow: none;
}

.navbar-right {
    margin-right: auto;
}

.center {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#info-sidebar {
    width: 26em;
    position: fixed;
    top: 1em;
    right: 1em;
    bottom: 2em;
    overflow: auto;
    z-index: 1000;
}

#info-sidebar table > tbody > tr:first-child > td:first-child {
    width: 14em;
}

#loader-icon {
    width: 1em;
    height: 1em;
    font-size: 500%;
    cursor: default;
    z-index: 1000;
}

#loader-alert {
    margin: 1em;
}

#viewport {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX////MzMw46qqDAAAAEElEQVQI12Ng+M+AFeEQBgB+vw/xWs16mgAAAABJRU5ErkJggg==');
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#toolbar-controls .slider {
    width: 16em;
    margin: 0 1em;
}

#toolbar-controls .slider-value {
    width: 4em;
}